<mat-toolbar color="primary">  
  <span class="pointer" (click)="raceId = null">CC Ease</span>
</mat-toolbar>
<div class="content">
  <mat-action-list *ngIf="!raceId">
    <button mat-list-item (click)="setRaceId('whiteprenats18m','2','Wisconsin Pre Nationals Men White 2018')">Wisconsin Pre Nationals Men White 2018</button>
    <button mat-list-item (click)="setRaceId('dillenger17m','1','Bill Dellinger Invitational Men 2017')">Bill Dellinger Invitational Men 2017</button>
  </mat-action-list>
  <race-type1 *ngIf="raceId" [raceId]="raceId" [raceType]="type" [title]="title">loading</race-type1>
</div>